//-File Name : about.pug
extends base.pug
block style 
            style
                include ../static/about.css
                include ../static/style.css
block content
    .section
        .box1
            .mar
                marquee(behavior="alternate", direction="right") Blood Camp
        .box2
            h2 About Our Camp
            p Blood donation is one of the most significant contribution that a person can make towards the society. It is not harmful for an adult person to donate blood. The body of the donor can regenerate the blood within few days. It poses no threat to the metabolism of the body. Throughout the day, there were smiles and laughter all around - a true embodiment of what we believe in - selfless service with a smile. The donors received certificate of recognition. They also got a credit card where one unit of blood is available free from Government. 