//-File Name : services.pug
extends base.pug
block style 
            style
                include ../static/services.css
                include ../static/style.css
block content
    .container 
        .box1 
            li After donating blood, you will have a snack and something to drink in the refreshment area.
            li You will leave after 10-15 minutes and continue your normal routine.
            li Enjoy the feeling of accomplishment knowing you are helping to save lives.
            li Take a selfie, or simply share your good deed with friends. It may inspire them to become blood donors. 
        .box2