//-File Name : thanku.pug
block style 
            style
                include ../static/thanku.css
                include ../static/style.css
block content
    .section
        .box1 
            h1 Thank You! 
            p Your Registration Is Successfully Done 
        .box2 
            p Now go back to the home
            a(href="home") 
                button  Home